beautifulsoup4>=4.10.0
certifi
charset-normalizer==3.3.2
colorama
idna==3.6
load-dotenv==0.1.0
numpy
pyaes==1.6.1
pyasn1==0.5.1
python-dotenv==1.0.0
requests
rsa==4.9
soupsieve
Telethon
urllib3==2.1.0
